<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加积分</title>
    <link rel="stylesheet" href="../../../bg/layui/css/layui.css">
    <script src="../../../bg/layui/layui.js"></script>
    <script src="../../../bg/js/jquery-3.3.1.js"></script>
    <script src="../../../bg/js/vue.js"></script>
    <script src="../../../bg/js/axios.min.js"></script>
</head>
<body>
<div class="main">
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">添加积分</label>
            <div class="layui-input-block">
                <input type="text" name="integral" required  lay-verify="required" placeholder="请输入新的积分" autocomplete="off" class="layui-input">
            </div>
        </div>
    </form>
</div>

</body>
</html>