<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondgroup.web.cloudmusicweb.mapper.DownloadMapper">

    <resultMap type="com.secondgroup.web.cloudmusicweb.entity.Download" id="DownloadMap">
        <result property="downloadId" column="download_id"/>
        <result property="downloadUser" column="download_user"/>
        <result property="downloadSong" column="download_song"/>
        <result property="downloadTime" column="download_time"/>
    </resultMap>

    <resultMap id="DownloadWithObject" type="com.secondgroup.web.cloudmusicweb.entity.extend.DownloadExtend">
        <result property="downloadId" column="download_id"/>
        <result property="downloadTime" column="download_time"/>
        <association property="user" resultMap="com.secondgroup.web.cloudmusicweb.mapper.UserMapper.UserMap"></association>
        <association property="song" resultMap="com.secondgroup.web.cloudmusicweb.mapper.SongMapper.SongMap"></association>
    </resultMap>

    <select id="getPage" resultMap="DownloadWithObject">
        select * from download,user,song WHERE download.download_song=song.song_id and download.download_user=user.user_id
    </select>

</mapper>
