<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondgroup.web.cloudmusicweb.mapper.SingerMapper">

    <resultMap type="com.secondgroup.web.cloudmusicweb.entity.Singer" id="SingerMap">
        <result property="singId" column="sing_id"/>
        <result property="fansNum" column="fans_num"/>
        <result property="selfIntro" column="selfIntro"/>
        <result property="singerUser" column="singer_user"/>
    </resultMap>

</mapper>
