<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondgroup.web.cloudmusicweb.mapper.UserMapper">

    <sql id="Base_Column_List">
      `user`.`user_id`,
    `user`.`name`,
    `user`.`account`,
    `user`.`password`,
    `user`.`sex`,
    `user`.`birthday`,
    `user`.`address`,
    `user`.`introduce`,
    `user`.`image`,
    `user`.`regist_time`,
    `user`.`state`,
    `user`.`type`,
    `role`.`role_id`,
    `role`.`role_name`,
    `role`.`description`
    </sql>

    <resultMap type="com.secondgroup.web.cloudmusicweb.entity.User" id="UserMap">
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="address" column="address"/>
        <result property="introduce" column="introduce"/>
        <result property="image" column="image"/>
        <result property="registTime" column="regist_time"/>
        <result property="state" column="state"/>
        <result property="type" column="type"></result>
    </resultMap>

    <resultMap id="UserRoleMap" type="com.secondgroup.web.cloudmusicweb.entity.extend.UserExtend">
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="address" column="address"/>
        <result property="introduce" column="introduce"/>
        <result property="image" column="image"/>
        <result property="registTime" column="regist_time"/>
        <result property="state" column="state"/>
        <result property="type" column="type"></result>
        <collection property="userRoles" ofType="com.secondgroup.web.cloudmusicweb.entity.UserRole" >
            <association property="userRoleRole"   javaType="com.secondgroup.web.cloudmusicweb.entity.Role">
                <result property="roleId" column="role_id"/>
                <result property="roleName" column="role_name"/>
                <result property="description" column="description"/>
            </association>
        </collection>
    </resultMap>



    
    <select id="selectlastId" resultType="java.lang.Integer">
        select max(user_id) from user;
    </select>

    <!--选择根据用户昵称选择用户，返回结果附带用户角色-->
    <select id="getUserByusername" resultMap="UserRoleMap">
        select
        <include refid="Base_Column_List"></include>
        from user,user_role,role where user.user_id=user_role.user_role_user and role.role_id=user_role.user_role_role and account=#{username}
    </select>
    <select id="getOneByName" resultType="com.secondgroup.web.cloudmusicweb.entity.User">
        select
        *
        from user where account=#{username}
    </select>


</mapper>
