<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.secondgroup.web.cloudmusicweb.mapper.UserMapper">

    <sql id="Base_Column_List">
      `user`.`user_id`,
    `user`.`name`,
    `user`.`account`,
    `user`.`password`,
    `user`.`sex`,
    `user`.`birthday`,
    `user`.`address`,
    `user`.`introduce`,
    `user`.`image`,
    `user`.`regist_time`,
    `user`.`state`,
    `user`.`type`,
    `role`.`role_id`,
    `role`.`role_name`,
    `role`.`description`
    </sql>

    <resultMap type="com.secondgroup.web.cloudmusicweb.entity.User" id="UserMap">
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="address" column="address"/>
        <result property="introduce" column="introduce"/>
        <result property="image" column="image"/>
        <result property="registTime" column="regist_time"/>
        <result property="state" column="state"/>
        <result property="type" column="type"></result>
    </resultMap>

    <resultMap id="UserRoleMap" type="com.secondgroup.web.cloudmusicweb.entity.extend.UserExtend">
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="address" column="address"/>
        <result property="introduce" column="introduce"/>
        <result property="image" column="image"/>
        <result property="registTime" column="regist_time"/>
        <result property="state" column="state"/>
        <result property="type" column="type"></result>
        <collection property="userRoles" ofType="com.secondgroup.web.cloudmusicweb.entity.UserRole" >
            <association property="userRoleRole"   javaType="com.secondgroup.web.cloudmusicweb.entity.Role">
                <result property="roleId" column="role_id"/>
                <result property="roleName" column="role_name"/>
                <result property="description" column="description"/>
            </association>
        </collection>
    </resultMap>

    <resultMap id="UserWithInfoMap" type="UserInfoExtend">
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="sex" column="sex"/>
        <result property="birthday" column="birthday"/>
        <result property="address" column="address"/>
        <result property="introduce" column="introduce"/>
        <result property="image" column="image"/>
        <result property="registTime" column="regist_time"/>
        <result property="state" column="state"/>
        <result property="email" column="email"/>
        <result property="type" column="type"></result>
        <association property="userinfo" resultMap="com.secondgroup.web.cloudmusicweb.mapper.UserinfoMapper.UserinfoMap"></association>
    </resultMap>





    <!--选择根据用户昵称选择用户，返回结果附带用户角色-->
    <select id="getUserByusername" resultMap="UserRoleMap">
        select
        <include refid="Base_Column_List"></include>
        from user,user_role,role where user.user_id=user_role.user_role_user and role.role_id=user_role.user_role_role and account=#{username}
    </select>
    <select id="getOneByName" resultType="com.secondgroup.web.cloudmusicweb.entity.User">
        select
        *
        from user where account=#{username}
    </select>
    <select id="getUserPage" resultMap="UserWithInfoMap">
      select *  from user,userinfo WHERE  user.user_id=userinfo.userinfo_user
          <if test="name!=null and name!=''">
              and user.name=#{name}
          </if>
        <if test="email!=null and email!=''">
            and user.email=#{email}
        </if>

    </select>
    <select id="analysisAge" resultType="java.util.Map">
        SELECT
        nld AS '年龄段',
        count(*) AS '人数'
        FROM
        (
        SELECT
        CASE
            when age &gt;=0 And age&lt;=10 then '0-10'
            WHEN age &gt;= 11 AND age &lt;= 20 THEN'11-20'
            WHEN age &gt;= 21 AND age &lt;= 30 THEN '21-30'
            WHEN age &gt;= 31 AND age &lt;= 40 THEN '31-40'
            WHEN age &gt;= 41 AND age &lt;= 50 THEN '41-50'
            WHEN age &gt;= 51 AND age &lt;= 60 THEN '51-60'
            WHEN age &gt;= 61 AND age &lt;= 70 THEN '61-70'
        END
        AS nld
        from
        (SELECT ROUND(DATEDIFF(CURDATE(), birthday)/365.2422) as age FROM user) as t
        ) as t2
        group by nld

    </select>


</mapper>
